*{
    font-family: "Poppins", serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    align-items: flex-end;
  
}
section{
    display: flex;
    justify-content: space-between;

    height: 10vh;
}
#logo{
    display: flex;
    gap: 10px;
    width: 20vw;
    align-items: center;
    justify-content: center;
}
#logo i{
    color: orangered;
    font-size: 24px;
}

#logo h1{
    color: orangered;
    font-size: 24px;
}
#menu{
    display: flex;
    width: 40vw;
    justify-content: space-between;
    align-items: center;

}
.container a{
    color: black;
    font-weight: 400;
}
#botao{
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#botao button{
    width: 13vw;
    background-color: orangered;
    color: white;
    height: 5vh;
    border: none;
    cursor: pointer;
}
.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6vw;
}
.container:hover{
    background-color: orangered;
}
#banner{
    display: flex;
    width: 100vw;
    height: 60vh;
}
#texts{
    position: absolute;
    width: 100vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#imagem img{
    width: 100vw;
    height: 60vh;
    filter: brightness(17%);
}
#text h4{
    font-size: 24px;
    text-align: center;
    color: orangered ;
}
#text h1{
    font-size: 42px;
    color: white;
}
#search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 10vh;
}
#search button{
    background-color: orangered;
    width: 9vw;
    height: 6vh;
    color: white;
    cursor: pointer;
    font-size: 12px;
    border: none;
}
#search input{
    width: 20vw;
    height: 5.6vh;
    outline: none;
}
#search input::placeholder{
    padding-left: 1vw;
}
#container{
    display: flex;
    width: 100vw;
    justify-content: center;
    height: 50vh;
}
#form{
    flex-direction: column;
    display: flex;
    width: 40vw;
    height: 50vh;
}
#form input{
    width: 20vw;
    height: 5vh;
}
#form button{
    width: 20vw;
    height: 6vh;

}
#text2{
    width: 40vw;
    height: 50vh;
}
#divisors {
    display: flex;
   justify-content: space-between;
   margin-top: 10px;
        
       
 }
#divisors span {
    color: orangered;
    font-weight: bold;
    font-size: 25px;
}
#divisors p {
   
    font-weight: bold;
    font-size: 12px;
}